*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:#141414;
    color:white;
}

/* NAVBAR */
.navbar{
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:linear-gradient(to bottom, rgba(0,0,0,0.8), transparent);
    z-index:1000;
}

.logo{
    color:#e50914;
    font-size:28px;
    font-weight:bold;
}

.navbar ul{
    list-style:none;
    display:flex;
    gap:20px;
}

.navbar li{
    cursor:pointer;
    transition:0.3s;
}

.navbar li:hover{
    color:#b3b3b3;
}

/* BANNER */
.banner{
    height:90vh;
    background:url(imagem/imagem.jpn1.jpg) center/cover no-repeat;
    display:flex;
    align-items:center;
    padding:0 50px;
}

.banner-content{
    max-width:500px;
}

.banner h1{
    font-size:50px;
    margin-bottom:20px;
}

.banner p{
    margin-bottom:20px;
}

.buttons button{
    padding:10px 20px;
    margin-right:10px;
    border:none;
    cursor:pointer;
    font-weight:bold;
    border-radius:5px;
}

.btn-play{
    background:white;
    color:black;
}

.btn-info{
    background:rgba(109,109,110,0.7);
    color:white;
}

/* MOVIES */
.movies{
    padding:20px 50px;
}

.movies h2{
    margin-bottom:15px;
}

.movie-row{
    display:flex;
    gap:10px;
    overflow-x:auto;
}

.movie-row img{
    width:200px;
    border-radius:5px;
    transition:0.3s;
    cursor:pointer;
}

.movie-row img:hover{
    transform:scale(1.08);
}